@import 'normalize.css';

$background-color: #18453B;
$font-size: 16px;
$font-color: #ffffff;
$calculate-btn-color: #1BFD9C;

body {
  background-color: $background-color;
  font-size: $font-size;
  color: $font-color;
}

.swal {
  height: 80vh;
  font-size: 12px !important;
}